<div class="categories">

    <div class="categories__content">
            <div class="categories__content-wrapper">
                <div class="categories__tag">{{ g_categories }}</div>
                <h2 class="categories__heading">{{ g_discover }}</h2>
                <p class="categories__text">
                    {{ g_fonts_icons }}
                </p>
            </div>

        <a href="#" class="categories__button button button--primary button--lg ">{{ g_shop_now }}</a>
    </div>

    <div class="categories__cards">  
        
        <div class="categories__cards-wrapper categories__cards-wrapper--left">

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Templates Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/presentation48x48.svg" alt="Slides Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="App Icons Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="App Icons Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="App Icons Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="App Icons Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="App Icons Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

        </div>
        
        <div class="categories__cards-wrapper categories__cards-wrapper--right">

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Slides Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Slides Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Slides Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Slides Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Slides Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card categories__card--active">
                <div class="categories__illustration">
                    <img src="/src/assets/images/social-media48x48.svg" alt="App Icons Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

            <div class="categories__card">
                <div class="categories__illustration">
                    <img src="/src/assets/images/ui-kits48x48.svg" alt="Design Tools Icon">
                </div>
                <div class="categories__text">
                    <p class="categories__text-title">Templates</p>
                    <p class="categories__text-desc">For all needs • Modern</p>
                </div>
            </div>

        </div>

    </div>

</div>