{% include 'src/templates/partials/blog/blog-banner.njk' %}

<div class="blog">
    {% include 'src/templates/partials/blog/sidebar.njk' %}

    {% include 'src/templates/partials/blog/article.njk' %}
</div>



