<div class="banner">

    <div class="banner__content">
        <span class="banner__label label label--popular">Typography</span>
        <h1 class="banner__title">Mastering the Art of Typography: Tips for Eye–Catching Designs for 2024</h1>
    </div>

    <div class="banner__illustration">
    {% from 'src/templates/partials/ui/icon.njk' import picture %}
    {{ picture("banner__image", "blog-banner", "Typography Banner") }}
    </div>
</div>
