<div class="related-articles">

	<div class="related-articles__header">
		<h2 class="related-articles__title">Related Articles</h2>
		<a class="related-articles__link link" href="#">Explore All Articles</a>
	</div>

    <div class="related-articles__list">
        {% from 'src/templates/partials/ui/icon.njk' import picture %}

		{% for article in articles %}
            <article class="article-card{% if article.big %} article-card--big{% endif %}">

                <div class="article-card__illustration">
                    {{ picture("article-card__image", article.image, article.alt) }}
                    <span class="article-card__tag label label--popular">{{ article.tag }}</span>
                </div>
                <h3 class="article-card__title">{{ article.title }}</h3>
                <p class="article-card__date">{{ article.date }}</p>
            </article>
		{% endfor %}
	</div>

</div>
