<aside class="sidebar">

    <div class="sidebar__author">
        <img class="sidebar__illustration" src="/src/assets/images/emma-clarke.svg" alt="Emma Clarke">
        <div class="sidebar__info">
            <h3 class="sidebar__info-name">Emma Clarke</h3>
            <p class="sidebar__info-date">April 10, 2024</p>
        </div>
    </div>

    <div class="sidebar__section">
        <div class="sidebar__title">Categories</div>
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <a class="sidebar__link link" href="#">Graphic Design Trends</a>
            </li>
            <li class="sidebar__item">
                <a class="sidebar__link sidebar__link--active link" href="#">Graphic Design Trends</a>
            </li>
            <li class="sidebar__item">
                <a class="sidebar__link link" href="#">Graphic Design Trends</a>
            </li>
            <li class="sidebar__item">
                <a class="sidebar__link link" href="#">Graphic Design Trends</a>
            </li>
            <li class="sidebar__item">
                <a class="sidebar__link link" href="#">Graphic Design Trends</a>
            </li>
            <li class="sidebar__item">
                <a class="sidebar__link link" href="#">Graphic Design Trends</a>
            </li>
        </ul>
    </div>


    <div class="sidebar__section">
        <div class="sidebar__title">Latest Articles</div>

        <div class="sidebar__article">
            <p class="sidebar__article-text">Text</p>
            <p class="sidebar__article-date">March 15, 2024</p>
        </div>

        <div class="sidebar__article">
            <p class="sidebar__article-text">Text</p>
            <p class="sidebar__article-date">March 15, 2024</p>
        </div>

    </div>

</aside>
