{% extends 'src/templates/layouts/base.njk' %}
{% block content %}
<section class="section section--contact">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/contact/contact.njk' %}
        </div>
    </div>
</section>
{% endblock %}