{% extends 'src/templates/layouts/base.njk' %}
{% block content %}

<section class="section section--main-banner">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/main-banner.njk' %}
        </div>
    </div>
</section>

<section class="section section--products">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/products.njk' %}
        </div>
    </div>
</section>

<section class="section section--categories">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/categories.njk' %}
        </div>
    </div>
</section>

<section class="section section--trending">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/trending.njk' %}
        </div>
    </div>
</section>

<section class="section section--pricing">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/pricing.njk' %}
        </div>
    </div>
</section>

<section class="section section--faq">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/faq.njk' %}
        </div>
    </div>
</section>

<section class="section section--blog-section">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/blog-section.njk' %}
        </div>
    </div>
</section>


{% endblock %}
