@use "../ui/brakepoints" as *;
@use "../mixins" as *;

.main-banner {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 45px;
    padding-bottom: 64px;

    @include md {
        flex-direction: row-reverse;
        gap: 102px;
        padding-top: 120px;
        min-height: 690px;
    }

    @include lg {
        padding-top: 47px;
        gap: 176px;
        min-height: 730px;
    }

    &__images {
        position: relative;
        overflow: hidden;
        aspect-ratio: 408 / 276;

        @include md {
            width: 100%;
        }
    }

    &__img {
        display: inline-block;
        position: absolute;

        &--first {
            width: 32%;
            top: 5%;

            @include md {
                width: 45%;
                top: 5%;
                left: -5%;
            }

            @include lg {
                top: 0%;
                left: 5%;
            }
        }

        &--second {
            width: 42%;
            right: 15%;
            background: var(--bg-base);

            // padding: 5px;
            overflow: hidden;
            border-radius: 10px;

            @include md {
                right: 1%;
                top: 12%;
            }

            @include lg {
                width: 46%;
                right: -3%;
                top: 7%;
            }
        }

        &--third {
            width: 59%;
            right: 15%;
            bottom: 10%;

            @include md {
                width: 82%;
                right: -7%;
                bottom: 25%;
            }

            @include lg {
                right: -6%;
                bottom: 22%;
            }
        }

        &--fourth {
            right: 17%;
            top: -4%;

            @include md {
                right: 13%;
                top: 7%;
            }

            @include lg {
                right: 6%;
                top: 1%;
            }
        }

        &--fifth {
            left: 5%;
            bottom: 5%;

            @include md {
                left: 14%;
                bottom: 34%;
            }

            @include lg {
                left: 9%;
                bottom: 27%;
            }
        }

        &-icon {
            width: var(--img-size-36);
            height: var(--img-size-36);
            background: var(--bg-base);
            padding: 8px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 40px rgb(29 57 95 / 0.08);

            @include md {
                width: var(--img-size-56);
                height: var(--img-size-56);
            }
        }

        & > img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include md {
            max-width: 40%;
        }

        @include lg {
            padding-top: 73px;
            max-width: 36%;
        }
    }

    &__title {
        @include heading-h1;
    }

    &__link {
        color: var(--accent-link);
    }

    &__subtitle {
        @include subheader-s5;

        color: var(--color-secondary);
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;

        @include md {
            flex-wrap: nowrap;
        }
    }
}
