{# <div class="catalog-banner">
    <h1 class="catalog-banner__title">
        {{ explore_top }}<a class="catalog-banner__link link">{{ ui_kits }}</a>{{ design_assets }}
    </h1>
</div> #}

<div class="catalog-banner">
    <h1 class="catalog-banner__title">
        <span class="catalog-banner__line">{{ explore_top }}</span>
        <span class="catalog-banner__line"><a class="catalog-banner__link link">{{ ui_kits }}</a>{{ design_assets }}</span>
    </h1>
</div>